---


---

<div class="d23-story-card-ctn">
  <div class="d23-story-card-info">
    <a aria-label="El kirchnerismo se prepara para aprobar en el Senado el pliego de una jueza clave en el caso Hotesur"
      class="headline-link"
      href="/politica/2023/07/11/el-kirchnerismo-se-prepara-para-aprobar-en-el-senado-el-pliego-de-una-jueza-clave-en-el-caso-hotesur/"
      rel="canonical">
      <h2 class="d23-story-card-hl">El kirchnerismo se prepara para aprobar en el Senado el pliego de una jueza clave en
        el caso Hotesur</h2>
    </a>
  </div>
  <div class="d23-story-card-info">
    <div class="d23-story-card-details-ctn">
      <span class="d23-story-card-author-ctn">
        Por <a aria-label="David Cayón" href="/autor/david-cayon/" class="d23-story-card-author-name">David Cayón</a>
      </span>
    </div>
    <a href="/politica/2023/07/11/el-kirchnerismo-se-prepara-para-aprobar-en-el-senado-el-pliego-de-una-jueza-clave-en-el-caso-hotesur/"
      class="d23-story-card-img-ctn d23-story-card-img-ctn-169"><img alt="jueza Ana María Figueroa" height="100"
        width="100" class="d23-story-card-img"
        src="https://www.infobae.com/new-resizer/zTfa7DeMM7OegCcg_APJerJyK1U=/arc-anglerfish-arc2-prod-infobae/public/T2WCYENGB5HG3F36OYS65ZZQHE.jpg"
        srcset="https://www.infobae.com/new-resizer/W-hzjqm2QGzfSyopcoaJDrxB_AM=/265x149/filters:format(webp):quality(85)/cloudfront-us-east-1.images.arcpublishing.com/infobae/T2WCYENGB5HG3F36OYS65ZZQHE.jpg 265w,https://www.infobae.com/new-resizer/wFX5DmQm_9Jwd7bdsYHLj0PW3Tk=/420x236/filters:format(webp):quality(85)/cloudfront-us-east-1.images.arcpublishing.com/infobae/T2WCYENGB5HG3F36OYS65ZZQHE.jpg 420w,https://www.infobae.com/new-resizer/e7PLU1kg1ue4TD52OG3yJ-5N89w=/768x432/filters:format(webp):quality(85)/cloudfront-us-east-1.images.arcpublishing.com/infobae/T2WCYENGB5HG3F36OYS65ZZQHE.jpg 768w,https://www.infobae.com/new-resizer/y_A8TI4WydsVML8nrdm08B6Pm24=/992x558/filters:format(webp):quality(85)/cloudfront-us-east-1.images.arcpublishing.com/infobae/T2WCYENGB5HG3F36OYS65ZZQHE.jpg 992w"
        sizes="(min-width: 1440px) 20vw, (min-width: 1024px) 30vw, 90vw" loading="lazy"></a>
  </div>
</div>
<div id="fusion-static-exit:f0ftg6VZB2Jj6nB" data-fusion-component="f0ftg6VZB2Jj6nB" style="display: none;">
</div>