---


---


<div class="d23-story-card-ctn">
  <div class="d23-story-card-info">
    <a aria-label="Cristina Kirchner y Mauricio Macri ocuparon nuevamente el centro de la campaña electoral" class="headline-link" href="/politica/2023/07/11/cristina-kirchner-y-mauricio-macri-ocuparon-nuevamente-el-centro-de-la-campana-electoral/" rel="canonical">
      <h2 class="d23-story-card-hl hl-medium">Cristina Kirchner y Mauricio Macri ocuparon nuevamente el centro de la campaña electoral</h2>
    </a>
    <div class="d23-story-card-deck dk-big">Los ex presidentes volvieron a opacar a los candidatos Sergio Massa, Horacio Rodríguez Larreta y Patricia Bullrich</div>
  </div>
  
  <div class="d23-story-card-info">
    <div class="d23-story-card-details-ctn">
      <span class="d23-story-card-author-ctn">Por <a aria-label="Facundo Chaves" href="/autor/facundo-chaves/" class="d23-story-card-author-name">Facundo Chaves</a></span>
    </div>
    
    <a href="/politica/2023/07/11/cristina-kirchner-y-mauricio-macri-ocuparon-nuevamente-el-centro-de-la-campana-electoral/" class="d23-story-card-img-ctn d23-story-card-img-ctn-169">
      <img alt="Mauricio Macri - Cristina Kirchner" height="100" width="100" class="d23-story-card-img" src="https://www.infobae.com/new-resizer/pGayhOEy_Ie1ydK6rbUnk_hgEnk=/arc-anglerfish-arc2-prod-infobae/public/F6ADYCJ7KJBFROML425A4YJRZE.jpg" srcset="https://www.infobae.com/new-resizer/iXU6g2snmHDF0FxxhXKr64nR82Y=/265x149/filters:format(webp):quality(85)/cloudfront-us-east-1.images.arcpublishing.com/infobae/F6ADYCJ7KJBFROML425A4YJRZE.jpg 265w,https://www.infobae.com/new-resizer/WXeHvzrscKv5NZOQDMxZrH00yCw=/420x236/filters:format(webp):quality(85)/cloudfront-us-east-1.images.arcpublishing.com/infobae/F6ADYCJ7KJBFROML425A4YJRZE.jpg 420w,https://www.infobae.com/new-resizer/_qqMZkfR79iyauyRwi0BUmpUBpA=/768x432/filters:format(webp):quality(85)/cloudfront-us-east-1.images.arcpublishing.com/infobae/F6ADYCJ7KJBFROML425A4YJRZE.jpg 768w,https://www.infobae.com/new-resizer/GGPbuhMa9oDQsDeuFNhB5IFqu7g=/992x558/filters:format(webp):quality(85)/cloudfront-us-east-1.images.arcpublishing.com/infobae/F6ADYCJ7KJBFROML425A4YJRZE.jpg 992w" sizes="(min-width: 1024px) 768px, 90vw" loading="eager">
    </a>
  </div>
</div>


